body{
    background-color:rgb(104, 171, 218);
}

#score{
    font-size: 15px;
    margin-left: 600px;
}

#time{
    font-size: 15px;
    float:right;
    margin-right: 600px;
}

#sketch_name{
    color:rgb(45, 38, 138);
}